<section id="projects">
<div class="container">
  <h3>Previous Work</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-google"></i>&nbsp;&nbsp;<strong><a href="https://summerofcode.withgoogle.com/archive/2016/projects/6559102792630272/">(GSOC2016) MacVenture & ScummVM</a></strong>
			- I sucessfully completed the <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code 2016</a> program, adding
      support for the classic <a href="http://www.zojoi.com/shadowgate_macventure/">MacVenture</a> games to the <a href="https://www.scummvm.org/">ScummVM</a> project,
      as well as improving their existing graphics library. The project can be found <a href="https://summerofcode.withgoogle.com/archive/2016/projects/6559102792630272/">here</a>,
      and <a href="https://gist.github.com/blorente/a8a66788aba35f14cf2d2338eb2bd069">here</a> are links to all the developed code.
		</h5>
    <h5>
			<i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blorente/naylang/">(C++) Naylang, a Grace interpreter and debugger</a></strong>
			- My graduation project, Naylang aims to be a modern, performant and most of all usable Grace interpreter and debugger. Written using C++14, it offers sufficient performance for
      most uses, while being as safe as possible. This interpreter is aimed towards first-year CS students, to offer a very usable alternative to the existing Grace compilers.
    </h5>
    <h5>
      <i class="fa fa-microchip"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blorente/CHIP-Towers">(C++) CHIP-Towers, a CHIP-8 emulator</a></strong>
      - A simple yet almost feature-complete emulator for the simple CHIP-8 machine, written in modern C++, compiled with CMake using SDL2. It doesn't have sound though.
    </h5>
    <h5>
      <i class="fa fa-ticket"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blorente/Holdem-ranger">(NodeJS, Electron) Hold'Em Ranger</a></strong>
      - A simple application to store Texas Hold'Em poker ranges, with the aim of minimal setup effort and maximal portablity. It features up to 4 colors for ranges.
    </h5>
    <h5>
      <i class="fa fa-gamepad"></i>&nbsp;&nbsp;<strong><a href="http://globalgamejam.org/2016/games/last-rite">(Unity3D) Game Jams</a></strong>
      - I like to participate in Game Jams with some of my classmates and friends.
      Among our participations we count <a href="http://ludumdare.com/compo/ludum-dare-34/?action=preview&uid=64601">Ludum Dare 34</a> and the <a href="http://globalgamejam.org/2016/games/last-rite">Global Game Jam 2016</a> (play it <a href="https://redbricksstudio.itch.io/last-rite">here</a>).
    </h5>
    </div>
  </div>
</div>

<div class="container">
  <h3>Student Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-heart"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blorente/NEW-PokerStove">(Java) NEW PokerStove</a></strong>
			- A PokerStove clone developed in 2 months with 3 partners, with extensions to store custom hand rankings and PLO ranges. It even features a PokerStars hand replayer!
		</h5>
    <h5>
      <i class="fa fa-gamepad"></i>&nbsp;&nbsp;<strong><a href="https://bitbucket.org/Kerith/addiction">(Unity3D) Addiction</a></strong>
      - A project developed for a videogames class, it's a metaphore about the process an addict goes through. The intellectual sequel of a
      <a href="https://newouyadev.wordpress.com/2013/08/01/addiction-a-new-ouya-game-an-explaination/">previous game</a> developed for the OUYA.
    </h5>
    <h5>
      <i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blorente/linux-labs">(C) Practices on Linux Kernel Modules</a></strong>
      - A series of very small linux kernel modules and syscalls developed for the version 3.14 of the kernel.
      They were written in the context of a linux architecture course.
  </div>
  </div>
</div>

</section>
